.line-1 {
	animation: line-1 2s linear;
}
.line-2 {
	animation: line-2 3s linear;
}
.line-3 {
	animation: line-3 4s linear;
}
.line-4 {
	animation: line-4 5s linear;
}
.line-5 {
	animation: line-5 6s linear;
}
.line-6 {
	animation: line-6 7s linear;
}
.line-7 {
	animation: line-7 8s linear;
}
.line-8 {
	animation: line-8 9s linear;
}
.line-9 {
	animation: line-9 10s linear;
}
.line-10 {
	animation: line-10 11s linear;
}
.line-11 {
	animation: line-11 12s infinite linear;
}
.line-12 {
	animation: line-12 12s infinite linear 1s;
}
.line-13 {
	animation: line-13 12s infinite linear 2s;
}
.line-14 {
	animation: line-14 12s infinite linear 3s;
}
.line-15 {
	animation: line-15 12s infinite linear 4s;
}
.line-16 {
	animation: line-16 12s infinite linear 5s;
}
.line-17 {
	animation: line-17 12s infinite linear 6s;
}
.line-18 {
	animation: line-18 12s infinite linear 7s;
}
.line-19 {
	animation: line-19 12s infinite linear 8s;
}
.line-20 {
	animation: line-20 12s infinite linear 9s;
}
.line-21 {
	animation: line-21 12s infinite linear 10s;
}
.line-22 {
	animation: line-22 12s infinite linear 11s;
}
.line-23 {
	animation: line-23 12s infinite linear 12s;
}
.line-24 {
	animation: line-24 12s infinite linear 13s;
}
.line-25 {
	animation: line-25 12s infinite linear 14s;
}
.line-26 {
	animation: line-26 12s infinite linear 15s;
}
.line-27 {
	animation: line-27 12s infinite linear 16s;
}
.line-28 {
	animation: line-28 12s infinite linear 17s;
}
