.star-1 {
	top: 55px;
	left: 438px;
}
.star-2 {
	top: 256px;
	left: 1111px;
}
.star-3 {
	top: 45px;
	left: 47px;
}
.star-4 {
	top: 187px;
	left: 649px;
}
.star-5 {
	top: 172px;
	left: 755px;
}
.star-6 {
	top: 37px;
	left: 940px;
}
.star-7 {
	top: 88px;
	left: 883px;
}
.star-8 {
	top: 234px;
	left: 359px;
}
.star-9 {
	top: 98px;
	left: 100px;
}
.star-10 {
	top: 148px;
	left: 1186px;
}
.star-11 {
	top: 64px;
	left: 689px;
}
.star-12 {
	top: 263px;
	left: 95px;
}
.star-13 {
	top: 254px;
	left: 974px;
}
.star-14 {
	top: 250px;
	left: 887px;
}
.star-15 {
	top: 208px;
	left: 875px;
}
.star-16 {
	top: 191px;
	left: 805px;
}
.star-17 {
	top: 203px;
	left: 994px;
}
.star-18 {
	top: 37px;
	left: 1054px;
}
.star-19 {
	top: 33px;
	left: 1015px;
}
.star-20 {
	top: 67px;
	left: 966px;
}
.star-21 {
	top: 110px;
	left: 922px;
}
.star-22 {
	top: 42px;
	left: 1094px;
}
.star-23 {
	top: 20px;
	left: 1310px;
}
.star-24 {
	top: 166px;
	left: 48px;
}
.star-25 {
	top: 134px;
	left: 564px;
}
.star-26 {
	top: 35px;
	left: 348px;
}
.star-27 {
	top: 174px;
	left: 460px;
}
.star-28 {
	top: 124px;
	left: -102px;
}
.star-29 {
	top: 218px;
	left: 1482px;
}
.star-30 {
	top: 148px;
	left: 1603px;
}
.star-31 {
	top: 191px;
	left: 1328px;
}
.star-32 {
	top: 46px;
	left: -143px;
}
.star-33 {
	top: 239px;
	left: -104px;
}
.star-34 {
	top: 104px;
	left: 1416px;
}
.star-35 {
	top: 150px;
	left: -152px;
}
.star-36 {
	top: 204px;
	left: 1676px;
}
.star-37 {
	top: 106px;
	left: 0px;
}
.star-38 {
	top: 14px;
	left: 597px;
}
.star-39 {
	top: 222px;
	left: 1244px;
}
.star-40 {
	top: 238px;
	left: 22px;
}
.star-41 {
	top: 15px;
	left: -173px;
}
.star-42 {
	top: 0px;
	left: 1701px;
}
.star-43 {
	top: 92px;
	left: 1523px;
}
.star-44 {
	top: 10px;
	left: 781px;
}
.star-45 {
	top: 301px;
	left: -150px;
}
.star-46 {
	top: 284px;
	left: 1580px;
}