.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
}
[class*="__container"] {
	max-width: 1230px;
	padding: 0px 15px;
	margin: 0px auto;
}

.header {
	display: flex;
	justify-content: center;
	margin: 25px auto 25px;
}

.header__title {
	font-size: 36px;
	font-weight: 500;
	margin: 25px;
	width: 100%;
	max-width: 600px;
}

.navigation {
	display: flex;
   gap: 15px;
   justify-content: center;
	flex-wrap: wrap;
}
.navigation__item {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.navigation__item:hover {
	border: 1px solid rgba(0, 0, 0, 1);
	color: rgb(0, 0, 0);
}
.navigation__link {
	margin: 15px;
	display: block;
}

.item {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: center;
}
.item__homework {
	padding: 15px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 10px;
}
.item__title {
	margin-bottom: 15px;
}
.item__list {
	display: flex;
	gap: 25px;
}
.item__link {
	transition: 0.3s;
	padding: 5px;
	color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.item__link:hover {
	color: rgb(0, 0, 0);
	cursor: pointer;
}
.item__link.disabled{
	pointer-events: none;
}
.item__link.verification{
	border: 1px solid rgba(225, 214, 0, 0.5);
	background-color: rgba(225, 214, 0, 0.5);
}
.item__link.verification:hover{
	border: 1px solid rgba(225, 214, 0, 1);
	background-color: rgba(225, 214, 0, 1);
}
.item__link.surrendered{
	border: 1px solid rgba(48, 191, 29, 0.5);
	background-color: rgba(48, 191, 29, 0.5);
}
.item__link.surrendered:hover{
	border: 1px solid rgba(48, 191, 29, 1);
	background-color: rgba(48, 191, 29, 1);
}

.footer{
	height: 100px;
}
