@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap);
:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #242423;
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --text-primary: #fbfffe;
  --text-secondary: #080708;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf;
  --white: #FFFFFF;
  --white-blur: rgba(255, 255, 255, 0.6);
  --blue: #1388d6;
  --black: #000000;
  --black-blur: rgba(0, 0, 0, 0.60);
  --red: #B70000;
  --green: #25D366;
  --yellow: #ffffff;
  --youtube: #FF0000;
  --telegram: #24A1DE
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
html {
  scroll-behavior: smooth
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "Roboto Flex";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right)
}
button,
input,
textarea {
  font-family: "Roboto Flex";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 115.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,113.75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
button:focus-visible {
  outline: 0
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible;
  display: flex;
  flex-direction: column
}
.popup__close {
  width: 1.5625rem;
  height: 1.5625rem;
  stroke: var(--blue);
  margin-bottom: .625rem;
  align-self: flex-end
}
.popup__close svg {
  width: 100%;
  height: 100%
}
.popup__text :first-child {
  margin-bottom: 30px
}
.popup__title {
  color: var(--blue);
  font-size: 30px;
  font-weight: 500
}
.popup__subtitle {
  color: var(--blue);
  font-size: 20px;
  font-weight: 500
}
.popup__subtitle:not(:last-child) {
  margin-bottom: 10px
}
.popup__description {
  color: var(--blue);
  font-size: 16px
}
.popup__description:not(:last-child) {
  margin-bottom: 30px
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  width: 100%;
  background-color: var(--white);
  z-index: 10
}
.header__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px
}
.header__socialmedia {
  display: flex;
  gap: 15px;
  right: 0
}
.header__link svg {
  width: 100%;
  height: 100%;
  fill: var(--blue);
  transition: all ease .3s
}
.telegram {
  position: relative
}
.telegram__white {
  fill: var(--white);
  transition: all ease .3s
}
.telegram::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--blue);
  border-radius: 100%;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  transition: all ease .3s
}
.telegram:hover svg {
  fill: var(--white)
}
.telegram:hover .telegram__white {
  fill: var(--telegram)
}
.telegram:hover::before {
  -webkit-transform: scale(.9);
  transform: scale(.9)
}
.youtube:hover svg {
  fill: var(--youtube)
}
.footer {
  background-color: var(--blue)
}
.footer__block {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
  gap: 30px
}
.footer__copyright,
.footer__navigation {
  color: var(--white);
  font-family: "Roboto Flex";
  font-size: 16px;
  padding: 0 10px
}
[class*=__kont] {
  width: 1340px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px
}
.page {
  position: relative
}
.page__home {
  background-image: url(../img/fullscreen.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 20%
}
.home__kont {
  display: flex;
  flex-direction: column;
  height: 100%
}
.home__title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px
}
.home__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 25px;
  font-family: "Roboto Flex";
  color: var(--white);
  font-weight: 600;
  flex-wrap: wrap
}
.home__contacts {
  margin-bottom: 25px;
  margin-top: auto
}
.home__list {
  display: flex;
  justify-content: center;
  gap: 25px
}
.home__link {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: var(--blue);
  border-radius: 25px;
  gap: 10px;
  transition: all ease .3s
}
.home__link:hover {
  background-color: var(--white)
}
.home__link:hover .m__svg,
.home__link:hover .t__svg {
  fill: var(--blue)
}
.home__link:hover .home__linktext {
  color: var(--blue)
}
.home__linksvg {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.home__linksvg svg {
  width: 100%;
  height: 100%;
  fill: var(--white);
  transition: all ease .3s
}
.home__linksvg svg .t__white {
  fill: transparent
}
.home__linktext {
  color: var(--white);
  font-family: "Roboto Flex";
  font-weight: 500;
  transition: all ease .3s
}
.home__button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px
}
.home__exercise {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 400;
  color: var(--white);
  font-family: "Roboto Flex";
  border-radius: 20px;
  transition: all ease .3s
}
.home__exercise:hover {
  color: var(--blue);
  background-color: var(--white)
}
.home__buttonlink {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease .3s
}
.home__buttonlink:hover {
	cursor: pointer;
 }
.home__buttonlink:hover .home__buttonspan {
  transition: all ease .3s
}
.home__buttonlink:hover .home__buttonspan svg {
  width: 100%;
  height: 100%;
  fill: var(--blue)
}
.home__buttonspan {
  width: 50%;
  height: 50%;
  -webkit-animation: button 2s infinite ease-in-out;
  animation: button 2s infinite ease-in-out;
  position: relative;
  transition: all ease .3s
}
.home__buttonspan svg {
  width: 100%;
  height: 100%;
  fill: var(--white);
  transition: all ease .3s
}
@-webkit-keyframes button {
  0% {
    opacity: 0;
    top: -25%
  }
  30% {
    opacity: 1
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 0;
    top: 25%
  }
}
@keyframes button {
  0% {
    opacity: 0;
    top: -25%
  }
  30% {
    opacity: 1
  }
  60% {
    opacity: 1
  }
  100% {
    opacity: 0;
    top: 25%
  }
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px
}
.services__item {
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  max-width: 360px;
  height: 200px
}
.services__card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  transition: ease 1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}
.services__back,
.services__front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  border-radius: 20px;
  padding: 15px;
  color: var(--white);
  font-weight: 600;
  font-family: "Roboto Flex";
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  word-break: break-word;
  overflow-wrap: break-word
}
.services__front {
  z-index: 2;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  background-color: var(--blue);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.services__img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px
}
.services__text {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-family: "Roboto Flex";
  text-transform: uppercase
}
.services__title {
  display: inline-block;
  color: var(--blue);
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 25px;
  font-size: .9375rem;
  font-weight: 800
}
.services__exercise {
  text-align: start
}
.services__type {
  display: inline-block;
  color: var(--white);
  background-color: var(--blue);
  padding: 5px 10px;
  border-radius: 25px;
  font-size: .875rem;
  font-weight: 800
}
.services__name {
  display: inline-block;
  color: var(--blue);
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 25px;
  font-size: .875rem;
  font-weight: 800
}
.services__back {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: var(--blue)
}
.services__link {
  width: 100%;
  height: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 25px;
  color: var(--white);
  border: 2px solid;
  transition: all ease .3s
}
.services__link:hover {
  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--white)
}
.services__item:hover .services__card {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg)
}
.services__item:focus .services__card {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg)
}
.page__contacts {
  background-color: var(--blue)
}
.contacts__list {
  display: flex;
  justify-content: center
}
.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px
}
.contacts__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--white);
  border-radius: 100%;
  transition: all ease .3s
}
.contacts__link svg {
  width: 50%;
  height: 50%;
  fill: var(--white)
}
.contacts__link::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all ease 1s
}
.contacts__link:hover::after {
  -webkit-animation: contacts .6s linear;
  animation: contacts .6s linear
}
.contacts__info {
  text-align: center;
  color: var(--white);
  font-family: "Roboto Flex"
}
@-webkit-keyframes contacts {
  0% {
    opacity: .3
  }
  40% {
    opacity: .5;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,.5)
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}
@keyframes contacts {
  0% {
    opacity: .3
  }
  40% {
    opacity: .5;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,.5)
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1),0 0 10px 10px #fff,0 0 0 10px rgba(255,255,255,.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}
.page__human {
  padding: 25px 0 70px
}
.human__block {
  display: flex;
  justify-content: space-around;
  gap: 20px
}
.human__img {
  width: 100%;
  max-width: 350px
}
.human__img svg {
  width: 100%;
  height: 100%
}
.human__information {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%
}
.human__list :not(:last-child) {
  margin-bottom: 20px
}
.human__item {
  color: var(--blue);
  font-family: "Roboto Flex"
}
.human__group {
  display: inline-block;
  transition: all ease .3s
}
.scroll-to-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  background-color: var(--blue);
  transition: all ease .3s;
  border: 2px solid var(--white);
  opacity: 0;
  visibility: hidden
}
.scroll-to-top svg {
  width: 60%;
  height: 60%;
  fill: var(--white);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: all ease .3s
}
.scroll-to-top:hover {
  background-color: var(--white-blur);
  border: 2px solid var(--blue)
}
.scroll-to-top:hover svg {
  fill: var(--blue)
}
.scroll-to-top.visible {
  opacity: 1;
  visibility: visible
}
.human__linked.forearm.human__forearm.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter0_i_144_815);
  filter: url(#filter0_i_144_815)
}
.human__linked.tricepsandbiceps.human__tricepsandbiceps.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter1_i_144_815);
  filter: url(#filter1_i_144_815)
}
.human__linked.shouldermuscles.human__shouldermuscles.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter2_i_144_815);
  filter: url(#filter2_i_144_815)
}
.human__linked.musclesofthehead.human__musclesofthehead.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter3_i_144_815);
  filter: url(#filter3_i_144_815)
}
.human__linked.femoralmuscle.human__femoralmuscle.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter4_i_144_815);
  filter: url(#filter4_i_144_815)
}
.human__linked.calfmuscle.human__calfmuscle.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter5_i_144_815);
  filter: url(#filter5_i_144_815)
}
.human__linked.musclesofthefeet.human__musclesofthefeet.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter6_i_144_815);
  filter: url(#filter6_i_144_815)
}
.human__linked.trapeze.human__trapeze.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter7_i_144_815);
  filter: url(#filter7_i_144_815)
}
.human__linked.berrymuscles.human__berrymuscles.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter8_i_144_815);
  filter: url(#filter8_i_144_815)
}
.human__linked.lateralmusclesofthepress.human__lateralmusclesofthepress.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter9_i_144_815);
  filter: url(#filter9_i_144_815)
}
.human__linked.smalloftheback.human__smalloftheback.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter10_i_144_815);
  filter: url(#filter10_i_144_815)
}
.human__linked.widestbackmuscles.human__widestbackmuscles.hover-effect {
  cursor: pointer;
  -webkit-filter: url(#filter11_i_144_815);
  filter: url(#filter11_i_144_815)
}
.human__linked.berrymuscles.human__group.hover-effect,
.human__linked.calfmuscle.human__group.hover-effect,
.human__linked.femoralmuscle.human__group.hover-effect,
.human__linked.forearm.human__group.hover-effect,
.human__linked.lateralmusclesofthepress.human__group.hover-effect,
.human__linked.musclesofthefeet.human__group.hover-effect,
.human__linked.musclesofthehead.human__group.hover-effect,
.human__linked.shouldermuscles.human__group.hover-effect,
.human__linked.smalloftheback.human__group.hover-effect,
.human__linked.trapeze.human__group.hover-effect,
.human__linked.tricepsandbiceps.human__group.hover-effect,
.human__linked.widestbackmuscles.human__group.hover-effect {
  cursor: pointer;
  color: var(--red)
}
.human__linked.berrymuscles.human__group:focus,
.human__linked.calfmuscle.human__group:focus,
.human__linked.femoralmuscle.human__group:focus,
.human__linked.forearm.human__group:focus,
.human__linked.lateralmusclesofthepress.human__group:focus,
.human__linked.musclesofthefeet.human__group:focus,
.human__linked.musclesofthehead.human__group:focus,
.human__linked.shouldermuscles.human__group:focus,
.human__linked.smalloftheback.human__group:focus,
.human__linked.trapeze.human__group:focus,
.human__linked.tricepsandbiceps.human__group:focus,
.human__linked.widestbackmuscles.human__group:focus {
  color: var(--red)
}
@media (min-width:39.375em) {
  .page__home {
    padding-top: 3.125rem
  }
  .home__linksvg {
    width: 2.5rem
  }
  .home__linksvg {
    height: 2.5rem
  }
  .page__services {
    padding-top: 3.125rem
  }
  .page__services {
    padding-bottom: 3.125rem
  }
}
@media (min-width:47.9375em) {
  .footer__copyright,
  .footer__navigation {
    font-size: 1rem
  }
  .contacts__item {
    max-width: 18.75rem
  }
}
@media (min-width:73.125em) {
  .home__text {
    font-size: 3rem
  }
  .home__buttonlink {
    width: 3.75rem
  }
  .home__buttonlink {
    height: 3.75rem
  }
  .scroll-to-top {
    width: 3.75rem
  }
  .scroll-to-top {
    height: 3.75rem
  }
}
@media (min-width:62em) {
  .header__block {
    height: 6.25rem
  }
  .header__link {
    width: 3.125rem
  }
  .home__linktext {
    font-size: 1.125rem
  }
  .home__exercise {
    font-size: 1.125rem
  }
  .services__description {
    font-size: 1rem
  }
  .services__link {
    font-size: 1rem
  }
  .page__contacts {
    padding-top: 3.125rem
  }
  .page__contacts {
    padding-bottom: 3.125rem
  }
  .contacts__item {
    gap: 1.5625rem
  }
  .contacts__link {
    width: 7.8125rem
  }
  .contacts__link {
    height: 7.8125rem
  }
  .contacts__info {
    font-size: 1.25rem
  }
  .human__item {
    font-size: 1.375rem
  }
}
@media (max-width:62em) {
  .home__buttonlink {
    width: 2.5rem
  }
  .home__buttonlink {
    height: 2.5rem
  }
}
@media (max-width:991.98px) {
  .header__block {
    padding: 0
  }
  .home__list {
    flex-direction: column;
    align-items: center;
    gap: 10px
  }
}
@media (max-width:991.98px)and (max-width:20em) {
  .page__home {
    padding-bottom: .625rem
  }
}
@media (max-width:991.98px)and (max-height:699.98px) {
  .home__list {
    flex-direction: row;
    flex-wrap: wrap
  }
}
@media (max-width:991.98px)and (max-height:699.98px)and (min-height:36.875em)and (max-height:47.9375em) {
  .home__linksvg {
    width: clamp(1.875rem ,-.2083333333rem + 5.6497175141vh ,2.5rem)
  }
  .home__linksvg {
    height: clamp(1.875rem ,-.2083333333rem + 5.6497175141vh ,2.5rem)
  }
}
@media (max-width:991.98px)and (max-height:699.98px)and (max-height:36.875em) {
  .home__linksvg {
    width: 1.875rem
  }
  .home__linksvg {
    height: 1.875rem
  }
}
@media (max-width:20em) {
  .header__block {
    height: 3.75rem
  }
  .header__link {
    width: 2.5rem
  }
  .footer__copyright,
  .footer__navigation {
    font-size: .875rem
  }
  .page__home {
    padding-top: 1.5625rem
  }
  .home__text {
    font-size: 1.5rem
  }
  .home__linksvg {
    width: 1.875rem
  }
  .home__linksvg {
    height: 1.875rem
  }
  .home__linktext {
    font-size: 1rem
  }
  .home__exercise {
    font-size: 1rem
  }
  .page__services {
    padding-top: 1.5625rem
  }
  .page__services {
    padding-bottom: 1.5625rem
  }
  .services__description {
    font-size: .875rem
  }
  .services__link {
    font-size: .875rem
  }
  .contacts__item {
    max-width: 8.125rem
  }
  .contacts__link {
    width: 3.75rem
  }
  .contacts__link {
    height: 3.75rem
  }
  .contacts__info {
    font-size: .875rem
  }
  .human__item {
    font-size: .875rem
  }
  .scroll-to-top {
    width: 2.8125rem
  }
  .scroll-to-top {
    height: 2.8125rem
  }
}
@media (max-width:47.9375em) {
  .page__contacts {
    padding-top: 1.5625rem
  }
  .page__contacts {
    padding-bottom: 1.5625rem
  }
  .contacts__item {
    gap: .9375rem
  }
}
@media (max-width:47.99875em) {
  .contacts__list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px
  }
}
@media (min-width:20em)and (max-width:62em) {
  .header__block {
    height: clamp(3.75rem ,2.5595238095rem + 5.9523809524vw ,6.25rem)
  }
  .header__link {
    width: clamp(2.5rem ,2.2023809524rem + 1.4880952381vw ,3.125rem)
  }
  .home__linktext {
    font-size: clamp(1rem ,.9404761905rem + .2976190476vw ,1.125rem)
  }
  .home__exercise {
    font-size: clamp(1rem ,.9404761905rem + .2976190476vw ,1.125rem)
  }
  .services__description {
    font-size: clamp(.875rem ,.8154761905rem + .2976190476vw ,1rem)
  }
  .services__link {
    font-size: clamp(.875rem ,.8154761905rem + .2976190476vw ,1rem)
  }
  .contacts__link {
    width: clamp(3.75rem ,1.8154761905rem + 9.6726190476vw ,7.8125rem)
  }
  .contacts__link {
    height: clamp(3.75rem ,1.8154761905rem + 9.6726190476vw ,7.8125rem)
  }
  .contacts__info {
    font-size: clamp(.875rem ,.6964285714rem + .8928571429vw ,1.25rem)
  }
  .human__item {
    font-size: clamp(.875rem ,.6369047619rem + 1.1904761905vw ,1.375rem)
  }
}
@media (min-width:20em)and (max-width:47.9375em) {
  .footer__copyright,
  .footer__navigation {
    font-size: clamp(.875rem ,.7855145414rem + .4474272931vw ,1rem)
  }
  .contacts__item {
    max-width: clamp(8.125rem ,.5187360179rem + 38.0313199105vw ,18.75rem)
  }
}
@media (min-width:20em)and (max-width:39.375em) {
  .page__home {
    padding-top: clamp(1.5625rem ,-.0504032258rem + 8.064516129vw ,3.125rem)
  }
  .home__linksvg {
    width: clamp(1.875rem ,1.2298387097rem + 3.2258064516vw ,2.5rem)
  }
  .home__linksvg {
    height: clamp(1.875rem ,1.2298387097rem + 3.2258064516vw ,2.5rem)
  }
  .page__services {
    padding-top: clamp(1.5625rem ,-.0504032258rem + 8.064516129vw ,3.125rem)
  }
  .page__services {
    padding-bottom: clamp(1.5625rem ,-.0504032258rem + 8.064516129vw ,3.125rem)
  }
}
@media (max-width:991.98px)and (min-width:39.375em) {
  .page__home {
    padding-bottom: 1.5625rem
  }
}
@media (max-width:991.98px)and (min-width:20em)and (max-width:39.375em) {
  .page__home {
    padding-bottom: clamp(.625rem ,-.3427419355rem + 4.8387096774vw ,1.5625rem)
  }
}
@media (min-width:20em)and (max-width:73.125em) {
  .home__text {
    font-size: clamp(1.5rem ,.9352941176rem + 2.8235294118vw ,3rem)
  }
  .scroll-to-top {
    width: clamp(2.8125rem ,2.4595588235rem + 1.7647058824vw ,3.75rem)
  }
  .scroll-to-top {
    height: clamp(2.8125rem ,2.4595588235rem + 1.7647058824vw ,3.75rem)
  }
}
@media (min-width:62em)and (max-width:73.125em) {
  .home__buttonlink {
    width: clamp(2.5rem ,-4.4662921348rem + 11.2359550562vw ,3.75rem)
  }
  .home__buttonlink {
    height: clamp(2.5rem ,-4.4662921348rem + 11.2359550562vw ,3.75rem)
  }
}
@media (min-width:47.9375em)and (max-width:62em) {
  .page__contacts {
    padding-top: clamp(1.5625rem ,-3.7638888889rem + 11.1111111111vw ,3.125rem)
  }
  .page__contacts {
    padding-bottom: clamp(1.5625rem ,-3.7638888889rem + 11.1111111111vw ,3.125rem)
  }
  .contacts__item {
    gap: clamp(.9375rem ,-1.1930555556rem + 4.4444444444vw ,1.5625rem)
  }
}
@media (max-height:509.98px) {
  .page__home {
    height: auto!important
  }
}
@media (max-height:699.98px) {
  .home__buttonlink {
    display: none;
    visibility: hidden
  }
  .home {
    padding-bottom: 15px
  }
}