
.header__container{
	max-width: 100%;
}
.main {
	margin: 80px auto;
}
.textone__nav {
	margin-bottom: 15px;
}
.data {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	color: #6C757D;
	margin-right: 25px;
}
.time {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	color: #6C757D;
	margin-right: 25px;
}
.sender {
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	color: #6C757D;
}
.textone__title {
	max-width: 400px;
	border-left: 2px dotted #6C757D;
	border-bottom: 6px double #6C757D;
	border-radius: 8px;
}
.textone__subtitle > p {
	margin-bottom: 25px;
}

.photo__blockone {
	max-width: 100%;
	max-height: 400px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.texttwo__title {
	max-width: 605px;
	border-top: 2px dashed #6C757D;
	border-right: 2px solid #6C757D;
	border-radius: 15px;
}
.texttwo__subtitle > p {
	margin-bottom: 25px;
}
[class*="__blocktwo"] {
	display: inline-block;
	max-width: 600px;
	max-height: 400px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.photoone__blocktwo {
	margin: 25px 10px 25px 10px;
}
.phototwo__blocktwo {
	margin: 25px 10px 25px 10px;
}
.textthree__subtitle {
	display: inline-block;
	height: 200px;
	overflow: scroll;
}
.mentor {
	visibility: hidden;
}
.footer {
	height: 180px;
	background-color: #212529;
}
.button{
	margin: 50px auto;
	max-width: 300px;
	max-height: 80px;
}
.scroll{
	max-width: 300px;
	max-height: 80px;
	border-radius: 25px;
	background: radial-gradient(50% 50% at 50% 50%, #00FFFF 0%, rgba(33, 37, 41, 0) 100%);
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	padding: 20px;
}
.scroll:hover{
	background: radial-gradient(50% 50% at 50% 50%, rgb(131,58,180,1) 0%, rgba(33, 37, 41, 0) 100%);
}
[class*="__subtitle"] > .last__p{
	margin-bottom: 0px;
}
.outline{
	outline: 10px solid #00FFFF;
	box-shadow: 0px 0px 44px 0px rgba(0,255,255,1);
}
[class*="__button"]{
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
	width: 350px;
	height: 30px;
	font-weight: 300;
}
.klikone__button {
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,0,0,1) 100%);
}
.kliktwo__button {
	opacity: 0;
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,237,0,1) 100%);
}
.klikthree__button {
	background: linear-gradient(90deg, rgba(255,237,0,1) 0%, rgba(122,248,0,1) 89%, rgba(37,255,0,1) 100%);
}
.klikone__button:hover{
	opacity: 0.5;
}
.kliktwo__button:hover{
	opacity: 1;
}
.klikthree__button:hover{
	opacity: 0;
	cursor: none;
}
[class*="__butterfly"]{
	display: inline-block;
	width: 450px;
	height: 450px;
}
.lefttopleft__butterfly {
	background: linear-gradient(315deg, rgba(151,27,189,1) 0%, rgba(0,255,237,1) 100%); 
	border-radius: 0% 100% 0% 75% / 0% 75% 0% 100%   ;
}
.righttop__butterfly {
	background: linear-gradient(45deg, rgba(151,27,189,1) 0%, rgba(0,255,237,1) 100%); 
	border-radius: 100% 0% 75% 0% / 75% 0% 100% 0% ;
}
.leftbottom__butterfly {
	background: linear-gradient(225deg, rgba(151,27,189,1) 0%, rgba(0,255,237,1) 100%); 
	border-radius: 75% 0% 100% 0% / 100% 0% 50% 0% ;
}
.rightbottom__butterfly{
	background: linear-gradient(135deg, rgba(151,27,189,1) 0%, rgba(0,255,237,1) 100%);
	border-radius: 0% 75% 0% 100% / 0% 100% 0% 50% ;
}
.lefttopleft__butterfly:hover {
	background: linear-gradient(315deg, rgba(151,27,189,1) 30%, rgba(255,233,0,1) 100%); 
	cursor: pointer;
}
.righttop__butterfly:hover {
	background: linear-gradient(45deg, rgba(151,27,189,1) 30%, rgba(255,0,0,1) 100%);
	cursor: pointer;
}
.leftbottom__butterfly:hover {
	background: linear-gradient(225deg, rgba(151,27,189,1) 30%, rgba(255,0,0,1) 100%);
	cursor: pointer;
}
.rightbottom__butterfly:hover {
	background: linear-gradient(135deg, rgba(151,27,189,1) 30%, rgba(255,233,0,1) 100%); 
	cursor: pointer;
}